
{% extends "base.html" %}

{% block content %}

<a href="upload.html" class="btn btn-default">Upload file</a>
<br>

<h2> Files </h2>
<div id="file_stash">
</div>

<div id="tasks">
</div>

<script src="/static/underscore-1.5.2/underscore-min.js"></script>
<script src="/static/backbone-1.1.0/backbone-min.js"></script>

{% include "StashedFileView.html" %}
{% include "SendorTaskView.html" %}

<script src="/static/sendor/SendorTasks.js"></script>
<script src="/static/sendor/FileStash.js"></script>

{% endblock %}
