
{% extends "base.html" %}

{% import "SendorTask.html" as SendorTask %}
{% import "FileStash.html" as FileStash %}

{% block content %}

<a href="upload.html" class="btn btn-default">Upload file</a>
<a href="file_stash.html" class="btn btn-default">View uploaded files</a>
<br>

<div>
	<h2> Latest uploaded file </h2>
	{% if file_stash %}
		{{ FileStash.FileStash(file_stash, True) }}
	{% endif %}
</div>

<div>
	<h2> Tasks </h2>
	{% for task in tasks %}
		{{ SendorTask.SendorTask(task) }}
	{% endfor %}
</div>

{% endblock %}
