<script id="SendorTaskView-template" type="text/template">
	<% var completion_percentage = Math.round(100 * completion_ratio) %>
	<td>
		<% if (is_cancelable) { cancel_button_disabled_attribute = ''; } else { cancel_button_disabled_attribute = 'disabled="disabled"'; } %>
		<button type="button" <%- cancel_button_disabled_attribute %> class="btn btn-primary cancel-button">Cancel</button>
	</td>
	<td>
		<h2 class="toggle-log">
			<% if (show_log) { %>
				&#9650;
			<% } else { %>
				&#9660;
			<% } %>
		</h2>
	</td>
	<td>
		<% if (duration) { %>
			<%- description %>: <%- duration %>: <%- activity %>
		<% } else { %>
			<%- description %>
		<% } %>

		<% if (completion_percentage < 100) { progress_bar_classes = 'progress-striped active'; } else { progress_bar_classes = ''; } %>
		<div class="progress <%- progress_bar_classes %>">
			<div class="progress-bar" role="progressbar" aria-valuenow="<%- completion_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%- completion_percentage %>%">
				<%- completion_percentage %>% Complete
				<span class="sr-only">
					<%- completion_percentage %>% Complete
				</span>
			</div>
		</div>

		<% if (show_log) { show_log_styles = ''; } else { show_log_styles = 'display: none'; } %>
		<div class="log" style="<%- show_log_styles %>">
			<% if (log) { %>
				<pre><%- log %></pre>
			<% } %>
		</div>		
	</td>
	<td>
		<% if (state == 'not_started') { %>
			<button type="button" disabled="disabled" class="btn btn-default">Not started</button>
		<% } else if (state == 'in_progress') { %>
			<button type="button" disabled="disabled" class="btn btn-warning">In progress</button>
		<% } else if (state == 'completed') { %>
			<button type="button" disabled="disabled" class="btn btn-success">Done</button>
		<% } else if (state == 'failed') { %>
			<button type="button" disabled="disabled" class="btn btn-danger">Failed</button>	
		<% } else if (state == 'canceled') { %>
			<button type="button" disabled="disabled" class="btn btn-info">Canceled</button>	
		<% } else { %>
			Error: Unknown state!
		<% } %>
	</td>
</script>

