<script id="StashedFileView-template" type="text/template">
	<td>
		<button type="button" class="btn btn-default distribute-display-button">Distribute</button>

		<% if (is_deletable) { %>
			<button type="button" class="btn btn-default delete-button">Delete</button>
		<% } else { %>
			<button type="button" disabled="disabled" class="btn btn-default delete-button">Locked</button>
		<% } %>

		<div class="distribute-section" style="display:none">
		</div>
	</td>
	<td>
		<%- original_filename %>
	</td>
	<td>
		<%- size %>
	</td>
	<td>
		<%- timestamp %>
	</td>
</script>
